# Ansible
*.retry
ansible.log
.vault_pass
retry/

# Vagrant
.vagrant/
*.log
vagrant-ssh-config

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Temporary files
*.tmp